.bodyback {
    background-color: #f2f2f2;
}
.bodymargin {
    margin: 0% 30% 0% 30%;
    padding: 0;
    background-color: #D3D3D3;
}
}
.dogpic {
    height: 175px;
    width: 275px;    
}
.midgepic {
    height: 700px;
    width: 900px;
}
.container {
    margin: 0px 5px; 
}
.dogrow {
    display: inline-flex;
}
.ul { 
    font-size: 12px;
    margin-right: 0px;
    margin-left: 0px; 
    margin-bottom: 20px;
    margin-top: 1px;
    display: inline-block;
}
ul.nav li {
    font-family: "Open Sans";
    display: block;
    margin: 1px;
    background-color: rgb(169, 226, 233);
    border-radius: 10px;
    border-style: none;
    border-width: 2px;
    padding: 1px 3px 1px 3px;
    float: left; 
    font-size: 12px;
}
.para {
    margin-top: 1px;
    margin-left: 0px;
    margin-bottom: 1px;
    font-family: "Open Sans";
    text-align: left;
}
/*.tileMe li {
    display: inline;
    float: left;
    margin: 10px; 
}*/

.footer {
    display: flex;
    list-style-type: none;
    flex-wrap: justify;
    background-color: rgba(213, 184, 255, 1); 
}
.footerpic {
    display: inline-flex; 
    justify-content: center space-around;
    height: auto; 
    width: 100%;
    opacity: .5;
    overflow: auto;
    position: relative;
}
.footertext {
    position: absolute;
    margin: auto;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate (-50%, -50%);
    
}
.opensans {
    font-family: "Open Sans";
}

.oswald { 
    font-family: oswald;
}

.display {
    display: inline; 
}

.header {
    color: white; 
    background-color: rgb(3, 44, 98);
    padding: 15px 20px 15px 20px;
}

.footerpic {
    height: 175px;
    width: 275px;
}
